body {
    margin:  0;
    padding: 0;
    display: flex;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4E4E4E;
    /* fonte Trebuchet teste */
}



/* COMEÇO ESTILO HOME */

.containerGlobal {
    width:  100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 25vh;
    width:  100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img{
    height: 150px;

}

.container li {
    height: 6vh;
    width:  20vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* @font-face {
    font-family: 'NixieOne';
    src: url(NixieOne.ttf) format('truetype');
    font-weight: normal;
    font-style:  normal;
} */

/* @font-face {
    font-family: "Saudagar";
    src: url(Saudagar.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
} */

.buttonEstilo {
    height: 6vh;
    width:  8.5vw;
    border: 2px solid transparent;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #4E4E4E;
    background-color: #E9E9E9;
    transition: 0.35s;
    cursor: pointer;
}

.buttonEstilo:hover {
    color: #fff;
    font-size: 16px;
    background-color: #CB8F7A;
}

.buttonEstilo2 {
    height: 6vh;
    width:  8.5vw;
    border: 2px solid transparent;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #4E4E4E;
    background-color: #E9E9E9;
    transition: 0.35s;
    cursor: pointer;
}

.buttonEstilo2:hover {
    color: #fff;
    font-size: 16px;
    background-color: #687A62;
}

.containerHistoria_FotoArt {
    height: 75vh;
    width:  100%;
    display: flex;
}

.containerHistoria {
    height: 75vh;
    width:  55vw;
    display: flex;
    flex-direction: column;
}

.containerHistoria h3 {
    font-size: 32px;
    color: #4E4E4E;
    padding-top:  60px;
    padding-left: 50px;
}

.containerHistoria p {
    font-size: 22px;
    color: #4E4E4E;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.containerHistoria span {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.containerFotoArt {
    height: 75vh;
    width:  45vw;
    display: flex;
    justify-content: center;
    align-items: end;
    /* border: 2px solid orange; */
}

.containerFotoArt img {
    height: 450px;
}

.titulo1 {
    display: flex;
    flex-direction: column;
    padding-left: 88px;

}

.titulo1 p {
    font-size: 32px;
    font-weight: bold;
}

.catalogo {
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    /* border: 2px solid rebeccapurple; */
}

.desenhos {
    height: 500px;
    width:  500px;
    background-color: transparent;
}

.desenhos img {
    height: 500px;
    width: 500px;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}

.desenhos img:hover {
    height: 490px;
    width:  490px;
    display: flex;
    padding-top:    5px;
    padding-left:   5px;
    padding-right:  5px;
    padding-bottom: 5px;
    transition: 0.2s;
}

.design {
    height: 500px;
    width: 500px;
    background-color: transparent;
}

.design img {
    height: 500px;
    width: 500px;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}

.design img:hover {
    height: 490px;
    width:  490px;
    display: flex;
    padding-top:    5px;
    padding-left:   5px;
    padding-right:  5px;
    padding-bottom: 5px;
    transition: 0.2s;
}

.catalogo2 {
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    /* border: 2px solid green; */
}

.fotografia {
    height: 500px;
    width: 500px;
    background-color: transparent;
}

.fotografia img {
    height: 500px;
    width: 500px;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}

.fotografia img:hover {
    height: 490px;
    width:  490px;
    display: flex;
    padding-top:    5px;
    padding-left:   5px;
    padding-right:  5px;
    padding-bottom: 5px;
    transition: 0.2s;
}

.transparent {
    height: 500px;
    width: 500px;
    background-color: transparent; 
}

.trabalharJuntos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4E4E4E;
    text-decoration: none;
}

.trabalharJuntos p {
    color: #4E4E4E;
    font-size: 22px;
    padding-top: 25px;
}

.trabalharJuntos a {
    color: #4E4E4E;
    font-size: 32px;
    padding-top: -15px;
    padding-bottom: 25px;
    text-decoration: none;
}

footer {
    height: 41vh;
    width: 100%;
    display: flex;
    color:  #4E4E4E;
    background-color: #E9E9E9;
    justify-content: space-between;
}

.divEsquerdaFooter {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.divEsquerdaFooter h2 {
    font-size: 20px;
    margin-bottom: -5px;
}

.divEsquerdaFooter p {
    font-size: 18px;
}

.divMeioFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-right: 145px;
}

.divMeioFooter p {
    margin-top: -10px;
}

footer img {
    height: 110px;
    padding-top: 15px;
    padding-right:  10px;
}

/* FINAL ESTILO HOME */



/* COMEÇO ESTILO CADASTRO */

.container3 {
    height: 100vh;
    width:  45vw;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container3 img {
    height: 150px;
    display: flex;
    margin-bottom: 20px;
}

.container3 h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #4E4E4E;
    width: 45vw;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}

.container4 {
    height: 100vh;
    width:  55vw;
    display: flex;
    justify-content: center;
    background-color: #687A62;
}

/* .container4 img {
    border: 2px solid red;
} */

.container5 {
    width:  45vw;
    flex-direction: column;
    align-items: center;
    display: flex;
}

/* div responsável pelas inputs do cadastro */
.div{
    height: 5vh;
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
}

/* div1 responsável pelos botões do cadastro */
.div1{
    height: 10vh;
    width:  25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.divCont5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'NixieOne'; */
    font-size: 15px;
    height: 5vh;
    width:  18vw;
    border: 2px solid #D1D1D1;
    border-radius: 5px;
}

.div1Cont5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'NixieOne'; */
    font-size: 15px;
    color: #4E4E4E;
    height: 5.4vh;
    width: 12vw;
    border: 2px solid #D1D1D1;
    border-radius: 5px;
}

.div1-1Cont5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'NixieOne'; */
    font-size: 15px;
    height: 5vh;
    width: 24.2vw;
    border: 2px solid #D1D1D1;
    border-radius: 5px;
}

/* .div2Cont5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'NixieOne';
    font-size: 15px;
    color: #4E4E4E;
    height: 6vh;
    width:  18.6vw;
    border: 2px solid #D1D1D1;
    border-radius: 5px;
} */

.div3Cont5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'NixieOne'; */
    font-size: 15px;
    height: 5vh;
    width: 39.2vw;
    border: 2px solid #D1D1D1;
    border-radius: 5px;
}

.div3-3Cont5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'NixieOne'; */
    font-size: 15px;
    height: 5vh;
    width: 18vw;
    border: 2px solid #D1D1D1;
    border-radius: 5px;
}
 
.input::placeholder{
    color: #4E4E4E;
}

/* FINAL ESTILO CADASTRO */



/* COMEÇO ESTILO HISTÓRIA */

.corpoHistoria {
    height: 100vh;
    width:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.corpoHistoria img {
    height: 80%;
}

/* FINAL ESTILO HISTÓRIA */



/* COMEÇO ESTILO DESENHOS */
.introducaoDesenhos {
    height: 50vh;
    width:  100%;
    display: flex;
    flex-direction: row;
}

/* introdução título usada em degin e fotografia */
.introducaoDesenhos .introducaoTitulo {
    height: 50vh;
    width:  50%;
    display: flex;
    font-size: 32px;
    padding-top:  60px;
    padding-left: 50px;
}

/* introdução texto usada em degin e fotografia */
.introducaoDesenhos .introducaoTexto {
    height: 50vh;
    width:  50%;
    display: flex; 
    font-size: 20px;
    padding-top:  72px;
    padding-right: 60px;
}

.desenhoVertical {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.introducaoDoisDesenhos {
    height: 15vh;
    width:  30%;
    display: flex;
    border-bottom: 5px solid #CB8F7A;
    flex-direction: column;
    justify-content: center;
}

.introducaoDoisDesenhos div {
    font-size: 22px;
    padding-left: 88px;
}

.catalogoDesenho {
    height: 150vh;
    width:  100%;
    display: flex;
    flex-direction: row;
}

.desenhoV {
    height: 150vh;
    width:  50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desenhoV img {
    height: 700px;
}

.desenhoVDetalhes {
    height: 150vh;
    width:  50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.desenhoVDetalhes img {
    height: 300px;
    width:  300px;
}

.desenhoHorizontal {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalogoDesenhoHorizontal {
    height: 165vh;
    width:  100%;
    display: flex;
    flex-direction: column;

}

.desenhoH {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desenhoH img {
    height: 500px;
}

.desenhoHDetalhes {
    height: 75vh;
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.desenhoHDetalhes img {
    height: 300px;
    width:  300px;
}
/* FINAL ESTILO DESENHOS */



/* INICIO ESTILO FOTOS */
.catalogoFotografia {
    height: auto;
    width:  100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.imgH {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgH img {
    height: 500px;
}

.imgV {
    height: 150vh;
    width:  50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgV img {
    height: 700px;
}
/* FINAL ESTILO FOTOS */